header h2 {
  color: #141927;
}

h3 code {
  background-color: transparent;
  color: #1E79C1;
}

pre {
  border-left-color: #0FAAA2;
  border-left-style: solid;
  border-left-width: 4px;
}

table tbody tr td code {
  color: #0FAAA2;
}

ul li a code {
  background-color: transparent;
}

.docsNavContainer {
  overflow: auto;
}

.fixedHeaderContainer {
  background: #FFFFFF;
}

.nav-footer {
  background: #F8F9FA;
}

.nav-footer {
  color: #141927;
}

.navigationSlider .slidingNav ul {
  background: #FFFFFF
}

.navigationSlider .slidingNav ul li a {
  color: #141927;
}

.postHeaderTitle {
  color: #31CB9E;
}

/* #footer * {
  color: #838383;
}

#footer .wrapper {
  margin: 0 auto;
  max-width: 76rem;
  width: 100%;
}

#footer .footer-middle {
  border-top: 1px solid #eee;
  display: flex;
  padding: 50px .9375rem 40px;
}

#footer .footer-middle .kyber-icon {
  display: flex;
  align-items: center;
  width: 25%;
}

#footer .footer-middle .kyber-link-container {
  display: flex;
  font-size: 1rem;
  justify-content: flex-end;
  width: 75%;
}

#footer .footer-middle .kyber-link {
  margin: 0 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}

#footer .footer-middle .kyber-link__text {
  color: #666666;
  display: block;
  margin-bottom: 10px;
  transition: color .3s;
}

#footer .footer-under {
  align-items: center;
  border-top: 1px solid #eee;
  display: flex;
  padding: 20px 60px 20px 0;
  position: relative;
}

#footer .footer-under .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 .9375rem;
}

#footer .footer-under .copyright {
  font-size: 12px;
  text-align: center;
}

#footer .footer-under .media {
  align-items: center;
  display: flex;
  padding-left: 50px;
}

#footer .footer-under .media .social {
  display: flex;
  width: 100%;
}

#footer .footer-under .media .social a:first-child {
  margin-left: 0;
}

#footer .footer-under .media .social a {
  margin: 0 12px;
}

#footer .footer-under .media .social a:last-child {
  margin-right: 0;
} */

.semi-b {
  font-weight: 600 !important;
}

.social-icons {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social-icons__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #777778;
  color: white !important;
  font-size: 14px;
  position: relative;
  transition: all .3s;
}

.social-icons__icon:first-child {
  margin-left: 0;
}

.social-icons__icon:last-child {
  margin-right: 0;
}

.social-icons__icon .fa-github {
  font-size: 29px;
  position: relative;
  bottom: 1px;
}

.social-icons__icon-tooltip {
  color: #fff;
  position: absolute;
  z-index: 9999;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  background: #2a3035;
  opacity: 0;
  pointer-events: none;
  padding: 10px;
  line-height: 1.4;
  width: 165px;
  bottom: 100%;
  border-radius: 5px;
  transform: translate3d(0, -20px, 0);
  transition: all .3s;
}

.social-icons__icon-tooltip::after {
  content: "";
  top: 100%;
  left: 50%;
  border: 6px solid transparent;
  border-top-color: #2a3035;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-left: -6px;
}

.social-icons__icon:hover {
  color: #fff !important;
  background: #31cb9e;
}

.social-icons__icon:hover .social-icons__icon-tooltip {
  pointer-events: auto;
  opacity: 1;
  transform: translateZ(0) translate3d(0, -10px, 0);
}

.social-icons__icon--without-circle {
  font-size: 27px;
  background: unset;
  color: #777778 !important;
}

.social-icons__icon--without-circle:hover {
  color: #31cb9e !important;
  background: unset;
}

@media screen and (max-width: 950px) {
  .social-icons__icon:first-child .social-icons__icon-tooltip {
    left: 0;
  }
  .social-icons__icon:first-child .social-icons__icon-tooltip:after {
    left: 13px;
  }
  .social-icons__icon:nth-child(2) .social-icons__icon-tooltip {
    left: -40px;
  }
  .social-icons__icon:nth-child(2) .social-icons__icon-tooltip:after {
    left: 53px;
  }
  .social-icons__icon:nth-child(2) .social-icons__icon-tooltip {
    left: -40px;
  }
  .social-icons__icon:nth-child(2) .social-icons__icon-tooltip:after {
    left: 53px;
  }
  .social-icons__icon:nth-child(7) .social-icons__icon-tooltip {
    right: -40px;
  }
  .social-icons__icon:nth-child(7) .social-icons__icon-tooltip:after {
    left: 113px;
  }
  .social-icons__icon:last-child .social-icons__icon-tooltip {
    right: 0;
  }
  .social-icons__icon:last-child .social-icons__icon-tooltip:after {
    left: 153px;
  }
}

@media screen and (max-width: 410px) {
  .social-icons__icon {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .headerTitleWithLogo {
    display: inherit !important;
  }
}

#footer {
  width: 100%;
  overflow: hidden;
}

#footer .wrapper {
  width: 100%;
  max-width: 76rem;
  margin: 0 auto;
}

#footer .footer-above {
  background-color: #f5f5f5;
  text-align: center;
  padding: 35px 15px 30px;
}

#footer .footer-above p {
  font-size: 20px;
  color: #141927;
}

#footer .footer-above p small {
  color: #838383;
}

#footer .footer-above .sign-up-input input {
  box-shadow: none;
  font-size: 0.8rem;
  width: 450px;
  padding: 20px 10px;
  margin-bottom: 0;
  display: inline-block;
  text-indent: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

@media screen and (max-width: 522px) {
  #footer .footer-above .sign-up-input input {
    width: 100%;
  }
}

#footer .footer-above .sign-up-input input:focus {
  outline: none;
}

#footer .footer-above .sign-up-input input::placeholder {
  color: #ccc;
  font-style: italic;
}

#footer .footer-above .sign-up-btn {
  margin-top: 15px;
}

#footer .footer-above .sign-up-btn button {
  width: 200px;
  border-radius: 3px;
  color: #fff;
}

#footer .footer-above .sign-up-btn button:hover {
  background-color: #31cb9e;
}

#footer .footer-middle {
  display: flex;
  padding: 50px .9375rem 40px;
}

#footer .footer-middle .kyber-icon {
  width: 25%;
  display: flex;
  align-items: center;
}

#footer .footer-middle .kyber-icon p {
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
  color: #57545A;
}

#footer .footer-middle .kyber-link-container {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}

#footer .footer-middle .kyber-link {
  width: 20%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 15px;
}

#footer .footer-middle .kyber-link__text {
  color: #666666;
  display: block;
  margin-bottom: 10px;
  transition: color .3s;
}

#footer .footer-middle .kyber-link__text:hover {
  color: #31cb9e;
}

#footer .footer-middle .kyber-link__text .highlight {
  position: relative;
  bottom: 12px;
}

#footer .footer-middle .kyber-link:last-child {
  width: 13%;
}

#footer .footer-under {
  padding: 20px 60px 20px 0;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  position: relative;
}

#footer .footer-under .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .9375rem;
}

#footer .footer-under .copyright {
  text-align: center;
  font-size: 12px;
}

#footer .footer-under .media {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

#footer .footer-under .media .dropup {
  width: auto;
  position: relative;
  display: flex;
  margin-right: 35px;
  cursor: pointer;
}

#footer .footer-under .media .dropup select {
  width: auto;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
}

#footer .footer-under .media .dropbtn {
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-right: 7px;
  color: #57545A;
}

#footer .footer-under .media .dropbtn:hover, #footer .footer-under .media .dropbtn:focus {
  background-color: #fff;
  outline: none;
}

#footer .footer-under .back-to-top {
  text-align: center;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 21px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #eee;
  background: url("../img/arrow-up.svg") white no-repeat center center;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  #footer .footer-middle {
    padding: 35px 15px 5px;
  }
  #footer .footer-middle .kyber-icon {
    display: none;
  }
  #footer .footer-middle .kyber-link-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
  }
  #footer .footer-middle .kyber-link-container .kyber-link {
    width: 50%;
    margin: 0 0 20px;
    padding: 0;
  }
  #footer .footer-under {
    padding: 20px 0;
  }
  #footer .footer-under .wrapper {
    padding: 0;
    flex-direction: column-reverse;
    align-items: initial;
  }
  #footer .footer-under .wrapper .media {
    padding: 0 15px 20px;
    border-bottom: 1px solid #eee;
  }
  #footer .footer-under .wrapper .media .dropup {
    display: none;
  }
  #footer .footer-under .wrapper .media .social__icon {
    margin: 0;
  }
  #footer .footer-under .wrapper .copyright {
    padding: 22px 15px 0;
    text-align: left;
  }
  #footer .footer-under .wrapper .copyright span {
    display: block;
  }
  #footer .footer-under .wrapper .copyright span:first-child {
    margin-bottom: 4px;
  }
  #footer .footer-under .back-top {
    bottom: 20px;
  }
}
